.message {
  display: inline-flexbox;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 40px;
  max-width: 50%;
}
.incoming {
  background: #63ceff;
  color: #fff;
  margin-right: auto;
}
.outgoing {
  background: #e9eafd;
  color: #787986;
  margin-left: auto;
}

.loadmore-messaging-section {
  height: fit-content;
  width: fit-content;
  background-color: #ddd;
  color: black;
}
